<div class="container">
  
  <h2>設定</h2>

  <div class="user-container">
    <ul class="side-navi">
      <li class="side-navi-item"><%= link_to "アカウント", user_path(@user) %></li>
      <li class="side-navi-item"><%= link_to "プロフィール", users_profile_path(@user) %></li>
    </ul>

    <div class="account-information">
      <div class="account-information-header">
        <h2>アカウント</h2>
        <%= link_to "編集", edit_user_registration_path %>
      </div>      
      <div class="">
        <div class="account-information-list">
          <label class="account-information-label">メールアドレス</label>
          <%= @user.email %>
        </div>
        <div class="account-information-list">
          <label class="account-information-label">パスワード</label>
          <p>*********</p>
        </div>       
      </div>
    </div>
  </div>
</div>


