<% obj = session[:error_messages] %>
<% if !obj.nil? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h3><%= obj.count %>件のエラー</h3>
    <ul>
      <% obj.each do |msg| %>
        <%# messege.each do |msg| %>
          <li><%= msg %></li>
        <%# end %>
      <% end %>
    </ul>
  </div>
<% end %>
<% session[:error_messages] = nil %>