<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>トップ画面</p>
<div>  <!--#Userコントローラーでできたらコメントアウト消す-->
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path, class: "button-orange" %> 
</div>
